.matrix-cell {
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    border: 1px solid gray;
    background-color: white;
    border-radius: 0;
    outline: 0;
    cursor: pointer;
}
.matrix-cell.matrix-cell-filled {
    background-color: black;
}
.matrix-cell.matrix-cell.matrix-cell-empty {
    background-color: lightgray;
}