.game-definition:after {
  content: "";
  display: table;
  clear: both;
}

.game-definition {
    line-height: 0;
}
.game-definition .game-definition-row {
    height: 15px;
    text-align: right;
}
.game-definition.game-definition-horizontal {
    vertical-align: bottom;
}
.game-definition.game-definition-horizontal .game-definition-row {
    text-align: left;
    display: inline-block;
    height: auto;
    width: 15px;
}
.game-definition .add-cell {
    height: 100%;
    width: 6px;
    margin: 0 -3px;
    z-index: 1;
    position: relative;
}
.game-definition.game-definition-horizontal .add-cell {
    height: 6px;
    width: 100%;
    margin: -6px 0px;
}