* {
    box-sizing: border-box;
    font-size: 10px;
}
.game {
    display: table;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.game .game-row {
    display: table-row;
}
.game .game-col {
    display: table-cell;
    vertical-align: top;
}